html {
    background-color: rgb(12,12,22);
    user-select: none;
    --webkit-user-select: none;
    height: 100%;
}

h1{
    color: white;
    font-size: 4px;
    margin: .1px;
}

.h1Search{
    font-size: 20px;

}

h2 {
    color: gray;
    font-size: 4px;
    margin: .1px;
}

label{
    color: white;
    margin: 5px;
}

.h2Search{
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 12px;
}

.phoneScreenContent::-webkit-scrollbar {
    width: 5px;
    /* margin-top: 20px; */
    
}



.contactCardSearch > ::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: lightblue;
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
}


 ::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.appContainer {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    height: 90px;
    margin-top: 10vw;
}

/* CONTACT CARD */

.contactsContainer{
    flex-direction: column;
}

.contactCard{
    display: flex;
    align-items: center;
    margin-top: none;
}

.contactCardSearch{
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.contactInfo{
    margin-left: 1vw;
}

.contactInfoSearch{
    margin-left: 10vw;
}


.profilePhoto{
    width: 20px;
    height: .6rem;
    border-radius: 50%;
    margin-left: 2px;
    pointer-events: none;

}

.profilePhotoSearch{
    width: 100px;
    border-radius: 50%;
    pointer-events: none;
    
}


/* SEARCH BAR */
.searchBarContainer{
    display: flex;
    justify-content: center;
    margin-top: 4vw;
}

.searchBoxContainer{
    display: flex;
    justify-content: center;
}

.searchBox{
    position: absolute;
    width: 480px;
    height: 640px;
    background-color: rgba(30, 30, 30, 0.72);
    border: .1px solid rgba(90, 90, 90, 0.72);
    /* opacity: .8; */
    border-radius: 10px;
    z-index: 120;
    top: 100px;
    overflow-y: scroll;
    /* left: 38vw; */
    /* margin-left: 1px; */

}

.searchIconContainer{
    display: flex;
    justify-content: center;
}

.searchIcon{
    opacity: .7;
    position: absolute;
    top: 30px;
    z-index: 110;

}

.searchIcon:hover{
    opacity: 1;
    cursor: pointer;
}

.overlay{
    background-color: black;
    opacity: .7;
    /* width: 100%; */
    /* left: 2px; */
    /* height: 800px; */
    right: 0;
    left: 0;
    /* right: 300px; */
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 110;
}

.searchBar{
    width: 100%;
    height: 60px;
    background-color: rgba(30, 30, 30, 0.72);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    padding-left: 20px;
    font-size: 30px;
    color: white;
    outline: none;
}

.searchBar::-webkit-search-cancel-button{
    display: none;
}

.searchResults{
    margin: 15px;
}



/* ADD CONTACT */

.addContactIcon {
    opacity: .7;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 110;

}


.addContactFormContainer{
    display: flex;
    justify-content: center;
   
}

.addContactForm{
    display: flex;
    flex-direction: column;
    margin-top: 14vw;
}

.addContactForm > input {
    margin-bottom: 60px;
    width: 100%;
    height: 60px;
    background-color: rgba(30, 30, 30, 0.72);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    padding-left: 20px;
    font-size: 30px;
    color: white;
    outline: none;
}

/* PHONE SCREEN */

.phoneScreenContent{
    width: 74.5px;
    height: 74px;
    overflow-x: hidden;

}


/* CANVAS */

.canvas{
    width: 100%;
    height: 93vh;
    z-index: 100;
}